* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container1 {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

   
}

.container2 {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;

    border: 1 px solid black;
}

/* HEADER  */
.header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid black;
    height: 50px;
	
}
.header a{
	color: black;
	text-decoration: none; 
}

.btn{
	background-color: rgb(9, 104, 219);
	color: white;
	padding: 8px;
	text-decoration: none; 
	
}

.row-header {
    display: flex;
    justify-content: space-between;
    padding: center;
    align-items: center;
}
.left{
	display: flex;
	padding: center;
	gap: 1em;	
}
.right {
	display: flex;
	padding: center;
	gap: 2em;
}





/* PRIMA SEZIONE  */
 .prima-sezione {
    background-color:rgb(180 208 230);
	
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .row1 {
    display: flex;
    justify-content: space-around;
 }


 .col-40 {
    display: flex;
    width: 40%;
    margin: 20px auto;
  
    height: 200px;
    background-color: none;
    
}
h1{
	font-size:60px;
}
.col-60 {
    display: flex;
    width: 60%;
    margin: 20px auto;

 }
.col-60 img {
	width: 100%;

}


/* SECONDA SEZIONE  */

.seconda-sezione {
    padding: 20px 0;
}

.cerchio {
    padding-right: 20px;
}

.sottosezione1 {

    margin-bottom: 20px;
    /* DEBUG  */
    background-color:none;
    height: 100px;
}

.sottosezione2 {
  margin-top: 20px;
}

.team {
    border: 1px solid rgb(128, 128, 128);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
   
}

.row-entreprise {
    display: flex;
    border: 1px solid rgb(128, 128, 128);
    align-items: center;
}

/* .enterprise {
   border: 1px solid grey;
} */

.title-entreprise {
    padding: 20px 0 10px 10px;
}

.p-entreprise {
    color: var(--grey-color);
    padding: 30px 0 10px 10px;
}

.row2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.col2 {
   width: calc(100% / 3);
   border: 1px solid grey;
   /* display: flex; */
   gap: 5px;
   }

   .titolo {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid rgb(128, 128, 128);
   }

   .sottotitoli {
    padding: 20px 0 15px 10px;
   }

   h3 {
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 15px;
   }

   .span2 {
    padding: 15px 0 10px 10px;
    font-size: 15px;
    color: rgb(128, 128, 128);
   }

   .lista1 {
    list-style: none;
    color: var(--grey-color);
    margin: 30px 0 30px 10px;
   }

   .icona-colorata {
    color: var(--sky-color);
   }
   
   .main li {
    margin-top: 15px;
   }

   .padding {
    padding-left: 10px;
   }

   .oppure {
    margin-top: 20px;
   }

   .hr-main {
    width: 10%;
    padding-left: 10px;
    margin: 20px 0px 20px 10px;
   }


   /* TERZA SEZIONE  */
   
   .testo-3 {
    margin: 40px 0 0 30px;
   }

   .pd {
    margin-top: 20px;
   }

   .row3 {
    display: flex;
    justify-content: space-between;
   }

   .bottone-bianco {
    border: 1px solid black;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--grey-color);
  }



   /* QUARTA SEZIONE  */
   .row4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

  .col4 {
    width: calc(95% / 3);
    margin-bottom: 30px;
}

.titolo-4 {
    font-size: 30px;
    margin-bottom: 40px;
}

.paragrafo-4 {
    margin-top: 20px;
    color: var(--grey-color);
}

.ultimo-main {
    margin-top: 50px;
}

.sottotitolo-4 {
    font-size: 30px;
}

.link-4 {
    margin: 40px 0 50px 0;
}

.color-link {
    color: var(--sky-color);
}
/* FOOTER   */
.footer {
    background-color: black;
    margin-top: 10px;
    padding-top: 20px;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}



.footer-title {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.footer li {
    margin-bottom: 5px;
}


.hr-footer {
    width: 10%;
    margin-top: 50px;
}

.language {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 10px;
}
